.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 360px;
}

.delay-input {
    /* width: 360px; */
    width: 343px;
    padding: 8px 0 8px 16px;
    line-height: 21px;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
}


.form .delay-input:focus {
    border-color: #4E75FF;
}


.delay-label {
    display: flex;
    gap: 8px;
    flex-direction: column;
    line-height: 26px;

    margin-bottom: 16px;
    color: #2E2F42;
}


.radio-field {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 24px;

    border: 1px solid gray;
    border-radius: 4px;
    min-height: 56px;
    width: 335px;

    color: #2E2F42;
}

.radio-field input {
    width: 20px;
    height: 20px;
}

.radio-field label {
    display: flex;
    gap: 8px;
}



.form-btn {
    padding: 8px 0 8px 16px;
    background-color: #4E75FF;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    line-height: 24px;
    letter-spacing: .04em;
    transition: background-color linear 250ms;
}

.form-btn:hover {
    background-color: #6C8CFF;
}


button {
    background-color: #4e75ff;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .04em;
}

.back-link {
    margin-bottom: 8px;
}